@import '~node_modules/modern-normalize/modern-normalize.css';
html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--main-font);
  font-style: normal;
  color: var(--main-color);
  background-color: var(--background-color);
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

:root {
  --main-color: #160A58;
  --second-color:#F2F2F2;
  --background-color: #FAFAFA;
  --main-font: "Unkempt", cursive;
  --work-font: "Open Sans", sans-serif;
  --time-duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 12px;
  padding-right: 12px;
  margin: 0 auto;
}
@media screen and (min-width: 375px) {
  .container {
    width: 375px;
  }
}
@media screen and (min-width: 1240px) {
  .container {
    width: 1240px;
    padding-top: 120px;
    padding-bottom: 60px;
    padding-left: 12px;
    padding-right: 12px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.section_lable {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
}

.open-line {
  margin-right: 16px;
  width: 80px;
  border-bottom: 2px solid var(--main-color);
}

.close-line {
  margin-left: 16px;
  width: 80px;
  border-bottom: 2px solid var(--main-color);
}

@media screen and (min-width: 1240px) {
  .section-title {
    margin-bottom: 80px;
  }
  .section_lable {
    font-size: 60px;
    line-height: 1.2;
  }
  .open-line {
    width: 400px;
    border-bottom: 4px solid var(--main-color);
  }
  .close-line {
    width: 400px;
    border-bottom: 4px solid var(--main-color);
  }
}
h3 {
  margin-bottom: 40px;
  font-size: 28px;
  line-height: 1.65;
}

h4 {
  margin-bottom: 16px;
  font-size: 24;
  line-height: 1.43;
  font-weight: 600;
}

@media screen and (min-width: 1240px) {
  h3 {
    margin-bottom: 80px;
    font-size: 36px;
    line-height: 1.11;
  }
  h4 {
    font-size: 32;
    line-height: 1.25;
  }
}
.container-header,
.container-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo-img {
  margin: 0 auto;
  width: 100px;
}

.header-name_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-name {
  margin: 0 auto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.4;
}

.container-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero_decription {
  width: 140px;
}

.hero_text {
  font-family: var(--work-font);
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
}

.hero-img {
  width: 130px;
  border: 10px solid var(--second-color);
  border-radius: 5px;
}

@media screen and (min-width: 1240px) {
  .container-header,
  .container-hero,
  .header,
  .header-name_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0px;
  }
  .container-header {
    width: 366px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .logo-img {
    width: 366px;
    margin: 0;
  }
  .header-name_wrap {
    width: 500px;
  }
  .header-name {
    font-size: 96px;
    font-weight: 700;
    line-height: 1.4;
  }
  .hero_decription {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 400px;
  }
  .hero_text {
    font-size: 32px;
    font-weight: 400;
    line-height: 1.4;
  }
  .hero-img {
    margin: 0 auto;
    margin-bottom: 40px;
    width: 400px;
  }
}
.about-list_item {
  margin-bottom: 32px;
}

.about-list_item:last-child {
  margin-bottom: 0;
}

.about-list_icon {
  fill: var(--main-color);
  margin-left: 144px;
  margin-bottom: 12px;
}

.about-list_text {
  font-family: var(--work-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.43;
}

@media screen and (min-width: 1240px) {
  .about-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .about-list_item {
    margin-bottom: 0;
  }
  .about-list_icon {
    margin-left: 108px;
    width: 64px;
    height: 64px;
  }
  .about-list_text {
    width: 280px;
    font-size: 28px;
    line-height: 1.8;
  }
}
.advantages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin-top: -16px;
  margin-left: -16px;
}

.advantages-list_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 160px;
  height: 200px;
  padding: 2px 2px;
  margin-left: 16px;
  margin-bottom: 16px;
  background-color: var(--main-color);
  border-radius: 12px;
}

.advantages_item_wrap {
  width: 140px;
  height: 180px;
  padding: 2px 2px;
}

.advantages_item_img {
  margin: 0 auto;
  margin-bottom: 12px;
  width: 86px;
}

.advantages_item_text {
  font-size: 16px;
  line-height: 1.43;
  color: var(--second-color);
}

@media screen and (min-width: 1240px) {
  .last_advantage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .advantages-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-preferred-size: 33.3333333333%;
        flex-basis: 33.3333333333%;
    margin-top: -32px;
    margin-left: -32px;
  }
  .advantages-list_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 384px;
    height: 392px;
    padding: 2px 2px;
    margin-left: 32px;
    margin-bottom: 32px;
    border-radius: 20px;
  }
  .advantages_item_wrap {
    width: 374px;
    height: 380px;
    padding: 32px 32px;
    border-radius: 16px;
  }
  .advantages_item_img {
    margin-bottom: 24px;
    width: 270px;
  }
  .advantages_item_text {
    font-size: 20px;
    line-height: 1.8;
  }
}
.product_decript-up,
.product_descript-bottom,
.product_notice-list_head,
.product_notice-list_text {
  font-size: 16px;
  line-height: 1.43;
}

.product_decript-up {
  margin-bottom: 16px;
}

.product_descript-bottom {
  margin-bottom: 40px;
}

.product_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product_group_item {
  width: 120px;
  height: 120px;
  background-color: var(--main-color);
  border-radius: 5px;
}

.product_group_item_img {
  padding: 5px;
  width: 110px;
}

.product_group_item_text {
  font-size: 32px;
}

.product_notice-list_head {
  font-family: var(--work-font);
  font-weight: 700;
}

.product_notice-list_text {
  font-family: var(--work-font);
}

@media screen and (min-width: 1240px) {
  .product_decript-up,
  .product_descript-bottom,
  .product_notice-list_head,
  .product_notice-list_text {
    font-size: 28px;
    line-height: 1.8;
  }
  .product_decript-up {
    width: 592px;
    margin-bottom: 16px;
  }
  .product_descript-bottom {
    width: 592px;
    margin-bottom: 40px;
  }
  .product_group_item {
    width: 420px;
    height: 420px;
    border-radius: 10px;
  }
  .product_group_item_img {
    padding: 30px;
    width: 360px;
  }
  .product_group_item_text {
    font-size: 40px;
  }
  .product_notice-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.final_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.final_wrap_text_main {
  width: 165px;
  padding: 5px;
  background-color: var(--main-color);
  border-radius: 5px;
  color: var(--second-color);
  font-size: 16px;
  line-height: 1.4;
}

.final_wrap_text_conj {
  margin-top: 24px;
  margin-bottom: 24px;
  font-size: 16px;
}

.product_group_item_img {
  width: 105px;
}

@media screen and (min-width: 1240px) {
  .final_wrap_text_main {
    width: 480px;
    padding: 20px;
    border-radius: 10px;
    font-size: 40px;
  }
  .final_wrap_text_conj {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 40px;
  }
  .product_group_item_img {
    width: 480px;
  }
}
.footer-adress_head {
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}

.footer-adress_text {
  margin-bottom: 12px;
  font-size: 16px;
}

.footer-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-logo-img {
  width: 80px;
}

@media screen and (min-width: 1240px) {
  .footer-adress_head {
    margin-bottom: 20px;
    font-size: 48px;
    font-weight: 600;
    line-height: 1.2;
  }
  .footer-adress_text {
    margin-bottom: 16px;
    font-size: 24px;
  }
  .footer-logo-img {
    width: 240px;
  }
}/*# sourceMappingURL=main.css.map */