@use '../utils/mixins' as *;

.footer-adress {
    margin-bottom: 24px;
} 

.footer-adress_head {
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
}

.footer-adress_text {
    margin-bottom: 12px;
    font-size: 16px;
}

.footer-down {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 12px;
}

.footer-logo-img {
    width: 80px;
}

@include desktop {
    .footer-adress_head {
    margin-bottom: 20px;
    font-size: 48px;
    font-weight: 600;
    line-height: 1.2;
}

.footer-adress_text {
    margin-bottom: 16px;
    font-size: 24px;
}

.footer-logo-img {
    width: 240px;
}
}