@use '../utils/mixins' as *;


.container-hero {
    display: block;
}

.logo-img {
   width: 100px;
}

.header-name {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.4;
}

.hero_decription {
    display: flex;
}

.hero_text {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.4;
}

.hero-img {
    margin: 0 auto;
    margin-bottom: 40px;
    width: 130px;
}

@include desktop {
    
    .container-hero {
        display: flex;
        justify-content: space-between;
    }
.logo-img {
        padding-left: 120px;
        width: 366px;
}

.header-name{
    font-size: 96px;
    font-weight: 700;
    line-height: 1.4;
}

.hero_decription {
    display: flex;
}

.hero_text {
    font-size: 32px;
    font-weight: 400;
    line-height: 1.4;
}

.hero-img {
    margin: 0 auto;
    margin-bottom: 40px;
    width: 400px;
}
}