@use '../utils/mixins' as *;

.product_decript-up,
.product_descript-bottom,
.product_notice-list_head,
.product_notice-list_text {
    font-size: 16px;
    line-height: 1.43;
}

.product_decript-up {
    margin-bottom: 16px;
}

.product_descript-bottom {
    margin-bottom: 40px;
}

.product_group {
    display: flex;
}

.product_group_item {
    width: 120px;
    height: 120px;
    background-color: var(--main-color);
    border-radius: 5px;
}

.product_group_item_img {
    padding: 5px;
    width: 110px;
}

.product_group_item_text {
    font-size: 32px;
}

.product_notice-list_head {
 font-family: var(--work-font);
 font-weight: 700;
}

.product_notice-list_text {
   font-family: var(--work-font); 
}

@include desktop {
    .product_decript-up,
    .product_descript-bottom,
    .product_notice-list_head,
    .product_notice-list_text  {
    font-size: 28px;
    line-height: 1.8;
}

.product_decript-up {
    width: 592px;
    margin-bottom: 16px;
}

.product_descript-bottom {
    width: 592px;
    margin-bottom: 40px;
}

.product_group_item {
    width: 420px;
    height: 420px;
    border-radius: 10px;
}

.product_group_item_img {
    padding: 30px;
    width: 360px;
}

.product_group_item_text {
    font-size: 40px;
}

.product_notice-list {
    display: flex;
}


}