@use '../utils/mixins' as *;

.product_decript-up,
.product_descript-bottom,
.product_notice-list_head,
.product_notice-list_text {
    font-size: 16px;
    line-height: 1.43;
}

.product_decript-up {
    font-family: var(--work-font);
    margin-bottom: 16px;
}

.product_descript-bottom {
    width: 260px;
    margin: 0 auto;
    font-weight: 700;
    margin-bottom: 24px;
}

.product_group-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 40px;
}

.product_group_item_img {
    border: 10px solid var(--second-color);
    border-radius: 10px;
    width: 110px;
    margin-bottom: 12px;
}

.product_group_item_text {
    margin: 0 auto;
    font-family: var(--work-font);
    font-size: 16px;
}

.product_notice {
    width: 290px;
    margin: 0 auto;
    margin-bottom: 32px;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
}

.product_notice-list_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    margin: 0 auto;
}

.product_notice-list_icon {
 margin-bottom: 16px;
}

.product_notice-list_head {
    margin-bottom: 12px;
 font-family: var(--work-font);
 font-weight: 700;
}

.product_notice-list_text {
    margin-bottom: 24px;
   font-family: var(--work-font); 
}

@include desktop {
    .product_decript-up,
    .product_descript-bottom,
    .product_notice-list_head,
    .product_notice-list_text  {
    font-size: 28px;
    line-height: 1.8;
}

.product_group-list {
    margin-bottom: 60px;
}

.product_decript-up {
    width: 1200px;
    margin-bottom: 16px;
}

.product_descript-bottom {
    width: 700px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.product_group_item_img {
    width: 360px;
    border: 15px solid var(--second-color);
    border-radius: 15px;
}

.product_group_item_text {
    font-size: 40px;
}

.product_notice {
    width: 750px;
    font-size: 48px;
    margin-bottom: 40px;
}
.product_notice-list {
    display: flex;
}


}