:root{
    --main-color: #160A58;
    --second-color:#F2F2F2;
    --background-color: #FAFAFA;
    --main-font: "Unkempt", cursive;
    --work-font: font-family: "Open Sans", sans-serif; 
    --time-duration: 250ms;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}